@font-face {
    font-family: 'MuseoModerno';
    src: url('../fonts/MuseoModerno-Medium.eot');
    src: url('../fonts/MuseoModerno-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoModerno-Medium.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('../fonts/MuseoModerno-Bold.eot');
    src: url('../fonts/MuseoModerno-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoModerno-Bold.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('../fonts/MuseoModerno-Light.eot');
    src: url('../fonts/MuseoModerno-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoModerno-Light.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('../fonts/MuseoModerno-Regular.eot');
    src: url('../fonts/MuseoModerno-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoModerno-Regular.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

