.consultation {
  min-height: 680px;
  padding: 100px 0 124px;
  background: url("../img/bg/bg3.jpg") center center / cover no-repeat;
  &__descr {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
  }
}
